html, #mainContent
{
    height: 100%;
}

body
{
    all: initial;
}

#mainContent
{
    display: grid;

    grid-template-rows: max-content 1fr max-content;
}

#header
{
    grid-row: 1;

    top: 0;
    padding: 10px;

    background-color: white;

    border-bottom: solid 1px black;
}

#content
{
    grid-row: 2;

    height: 100%;

    padding: 10px;
}

#footer
{
    grid-row: 3;

    bottom: 0;
    padding: 10px;

    background-color: white;

    border-top: solid 1px black;
}

.position_sticky
{
    position: sticky;
}