html, #mainApp
{
    height: 100%;
}

body
{
    all: initial;
}

#mainApp
{
    display: grid;

    grid-template-rows: max-content 1fr max-content;
}

#header
{
    top: 0;

    background-color: white;

    border-bottom: solid 1px black;
}

#currentView
{
    overflow-y: auto;
}

.baseView
{
    padding: 10px;
}

#footer
{
    bottom: 0;
    padding: 10px;

    background-color: white;

    border-top: solid 1px black;
}

#newTodoopView
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.newTodoopNameInput
{
    font-size: xx-large;
    width: 100%;
}

.todoopCategoryForm
{
    display: grid;

    grid-template-columns: max-content 1fr;
    align-items: center;
}

.todoopItemForm
{
    display: block;

    width: 100%;

    padding-left: 30px;
}
