:root
{
    --todoops-light-blue: #80a6ff;
    --todoops-medium-blue: #4079ff;
    --todoops-dark-blue: #004dff;
}

.headerAnchor
{
    display: inline-block;
    margin-left: -4px;
    padding: 15px 20px;
    border-right: solid 1px black;

    color:black;
}

.headerAnchor:nth-child(2n+1)
{
    background-color: var(--todoops-dark-blue);
    color: white;
}

.headerAnchor:nth-child(2n+2)
{
    background-color: var(--todoops-light-blue);
}

.position_sticky
{
    position: sticky;
}

.dontUnderline
{
    text-decoration: none;
}

.textAlignCenter
{
    text-align: center;
}

.invisibleInput
{
    border: none !important;
    box-shadow: none !important;
}

.invisibleInput:focus
{
    outline: none;
}

.invisibleElement
{
    visibility: hidden;
}

.contentOnlyButton
{
    background: transparent;
    border: none;
    padding: unset;
}

.contentOnlyButton:focus
{
    outline: none;
}

.button-error
{
    color: rgb(202, 60, 60);
}

.button-error:active
{
    background-color: rgb(202, 60, 60);
    color: white;
}

.tempLabel
{
    padding-left: 5px;
}

[draggable=true] {
    -khtml-user-drag: element;

    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.dragging
{
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;

    opacity: 1 !important;
}

.sortable-ghost
{
    background-color: var(--todoops-dark-blue);

    height: 5px;
    border-radius: 3px;
}

.sortable-ghost *
{
    visibility: hidden;
}