<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Modular Javascript</title>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
	<script type="module" src="static/js/home.js"></script>

	<link rel="stylesheet" href="static/css/todoops.css">
</head>
<body>
	<div id="mainContent">
		<div id="header" class="position_sticky">
			Header
		</div>
		<div id="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero nisl, suscipit sed convallis sed, lobortis eu tortor. Maecenas iaculis volutpat placerat. Aenean porta dolor vitae felis scelerisque dignissim. Donec scelerisque, mauris vel congue fermentum, nisi urna aliquet odio, id laoreet nulla risus non ipsum. Aliquam erat volutpat. Fusce tellus leo, euismod faucibus purus ac, cursus mattis ligula. Morbi quis dapibus ligula, tempus sagittis tortor. Suspendisse vitae orci sed felis interdum gravida. Vestibulum ut tempus dui. Nulla aliquet ante nec quam vehicula placerat.
		</div>
		<div id="footer" class="position_sticky">
			Todoops v{{ version }} | © 2018 John Carrell
		</div>
	</div>
</body>
</html>